docs/Exercício/Ex26/mq004/.vs/VSWorkspaceState.json
docs/Exercício/Ex26/mq004/.vs/slnx.sqlite
docs/Exercício/Ex26/mq004/.vs/ProjectSettings.json
docs/Exercício/Ex26/mq004/.vs/mq004/v17/DocumentLayout.json
docs/Exercício/Ex26/mq004/.vs/mq004/v17/.wsuo
docs/Exercício/Ex26/mq004/.vs/mq004/config/applicationhost.config
docs/Exercício/Ex26/mq004/.vs/mq004/CopilotIndices/17.14.1653.19549/CodeChunks.db
docs/Exercício/Ex26/mq004/.vs/mq004/CopilotIndices/17.14.1653.19549/SemanticSymbols.db
docs/Exercício/Ex26/mq004/.vs/mq004/FileContentIndex/a90b6732-6d4b-4f05-bc67-c1055cc42693.vsidx
