@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{

}

table{
    width: 500px;
}

caption{
    width: 500px;
    font-weight: bold;
    background: rgba(211, 211, 211, 0.534);
    font-size: 1.2em;
}

thead{
    background: lightgray;
}

th{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
