@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
}

caption{
    width: 500px;
    font-weight: bold;
    background: rgba(211, 211, 211, 0.493);
    font-size: 1.2em;
}

thead, th.media{
    background: gray;
    color: white;
    text-align: left;
    font-weight: bold;
}

th, td{
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

td.pl{
    text-align: left;
}

td.num{
    background: gray;
    color: white;
}
